<?php

/**
 * Store list template
 *
 * @var $block \Elogic\StoreLocator\Block\StoreList
 */

$stores = $block->getStores();

?>

<h1><?php echo __("Store Locator"); ?></h1>
<hr />
<table>
    <thead>
     <tr>
        <td>
            <h4> <?php echo __("Store Name")?> </h4>
        </td>
        <td>
            <h4> <?php echo __("Image")?> </h4>
        </td>
         <td>
             <h4> <?php echo __("City")?> </h4>
         </td>
         <td>
             <h4> <?php echo __("Country")?> </h4>
         </td>
        <td>
            <h4> <?php echo __("Address")?> </h4>
        </td>
        <td>
            <h4> <?php echo __("Longitude")?> </h4>
        </td>
        <td>
            <h4> <?php echo __("Latitude")?> </h4>
        </td>
     </tr>
    </thead>
    <tbody>
    <?php if($stores) foreach ($stores as $store) : ?>
        <tr>
            <td>
                <?php echo $store->getStoreName(); ?>
            </td>
            <td>
                <?php
                if (empty($store->getImage())) :
                    echo __("No image");
                else : ?>
                    <img src="<?php echo $block->getStoreImageUrl($store); ?>" alt="<?= $store->getStoreName(); ?>" width="50%" >
                <?php endif; ?>
            </td>
            <td>
                <?php echo $store->getCity(); ?>
            </td>
            <td>
                <?php echo $store->getCountry(); ?>
            </td>
            <td>
                <?php echo $store->getAddress(); ?>
            </td>
            <td>
                <?php echo $store->getLongitude(); ?>
            </td>
            <td>
                <?php echo $store->getLatitude(); ?>
            </td>
            <td>
                <a href="<?= $block->getStoreUrl($store->getUrlKey()); ?>">View</a>
            </td>
        </tr>

    <?php endforeach; ?>
    </tbody>
</table>
<hr />

