<?php

/**
 * Store info template
 *
 * @var $block \Elogic\StoreLocator\Block\View
 */

$store = $block->getStore();

?>

<div class="store-info">
    <h1><?php echo $store->getStoreName(); ?></h1>
    <a href="<?= $block->goBack(); ?>">Back</a>
    <hr />
    <?php
    if (empty($store->getImage())) :
        echo __("No image");
    else : ?>
        <img src="<?php echo $block->getStoreImageUrl($store); ?>" width="30%" height="30%" alt="<?= $store->getStoreName(); ?>">
    <?php endif; ?>
    <h4><?php echo __('Description:'); ?></h4>
    <p><?php echo $store->getDescription(); ?></p>
    <h4><?php echo __('Location:'); ?></h4>
    <p><?php echo $store->getCountry() . ', ' . $store->getCity(); ?></p>
    <p><?php echo $store->getAddress(); ?></p>
    <p><?php echo __('Longitude: ') . $store->getLongitude(); ?></p>
    <p><?php echo __('Latitude: ') . $store->getLatitude(); ?></p>
    <h4><?php echo __('Work Schedule:'); ?></h4>
    <p><?php echo $store->getWorkTime(); ?></p>
</div>
